all-profiles-by-handle
follower_lists
lexicons
util/commons-pool-1.6/apidocs
lang_sample
lang_breakdown
*.zip
*.swp
*.pyc
*.swo
*.bak
*.json
.gitignore
build/
collect_data.py.bak
desc
pickled
pickled.bak
pickled_python
speed_test
test_data
twitter_structure
lex1
lex2
lexp1
lexp2
lexicon_*
raw/
puke.py
tv_parser.py
testing.py
config.py
is_copying.py
temese_format.py
test.py
*.class
*.log
*.html
